@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");

$font-primary: "Karla", sans-serif;
$font-secondary: "Playfair Display", serif;
$black: #262525;
$white: #ffffff;
$grey: #aaaaaa;
$grey-lighter: #cecece;
$grey-lightest: #f7f7f7;

$heading-line-height: 1.2;
$body-line-height: 1.4;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: $font-primary;
  font-weight: 400;
  color: $black;
  line-height: $body-line-height;
}

.header {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;

  .logo {
    margin: 30px 50px;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: $body-line-height;
    text-transform: uppercase;
    text-decoration: none;
    color: $black;

    @media only screen and (max-width: 800px) {
      margin: 30px 20px;
    }
  }

  .navigation {
    margin: 30px 50px;

    @media only screen and (max-width: 800px) {
      margin: 30px 20px;
    }

    .nav_list {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;

      .nav_link {
        font-size: 15px;
        color: $grey;
        cursor: pointer;
        transition: color 0.2s ease;

        &:not(:first-child) {
          margin-left: 15px;
        }

        &:hover {
          transition: color 0.3s ease;
          color: $black;
        }
      }
    }
  }
}

.intro {
  display: flex;
  margin-bottom: 60px;

  @media only screen and (max-width: 800px) {
    flex-wrap: wrap;
  }

  .intro_text {
    padding-left: 220px;
    align-self: center;

    @media only screen and (max-width: 800px) {
      padding-left: 20px;
    }

    h3 {
      padding: 0;
      margin: 0;

      font-family: $font-secondary;
      font-size: 69px;
      font-weight: 300;
      line-height: $heading-line-height;
      color: $black;
    }
  }

  .intro_pic {
    margin-left: -60px;
    z-index: -1;

    @media only screen and (max-width: 800px) {
      margin: -110px 0 0 60px;
    }

    img {
      width: 400px;

      @media only screen and (max-width: 800px) {
        width: 300px;
      }
    }
  }
}

.works_intro {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-bottom: 150px;

  .works_intro_text {
    font-family: $font-primary;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: $grey-lighter;
  }

  .works_intro_mouse {
    position: absolute;
    top: 125px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width: 34px;
    height: 55px;
  }
  .mouse {
    width: 1px;
    padding: 2px 10px;
    height: 30px;
    border: 2px solid $grey-lighter;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroll {
    width: 2px;
    height: 5px;
    border-radius: 25%;
    background-color: $grey-lighter;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(15px);
      opacity: 0;
    }
  }
}
