@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: #262525;
  line-height: 1.4;
}

.header {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.header .logo {
  margin: 30px 50px;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.4;
  text-transform: uppercase;
  text-decoration: none;
  color: #262525;
}
.header .navigation {
  margin: 30px 50px;
}
.header .navigation .nav_list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.header .navigation .nav_list .nav_item .nav_link {
  font-size: 15px;
  color: #aaaaaa;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
}
.header .navigation .nav_list .nav_item .nav_link:hover {
  transition: color 0.3s ease;
  color: #262525;
}
.header .navigation .nav_list .nav_item:not(:first-child) {
  margin-left: 15px;
}

.intro {
  display: flex;
  margin-bottom: 60px;
}
.intro .intro_text {
  padding-left: 220px;
  align-self: center;
}
.intro .intro_text h3 {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: 69px;
  font-weight: 300;
  line-height: 1.2;
  color: #262525;
}
.intro .intro_pic {
  margin-left: -60px;
  z-index: -1;
}
.intro .intro_pic img {
  width: 400px;
}

.works_intro {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-bottom: 150px;
}
.works_intro .works_intro_text {
  font-family: "Karla", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: #cecece;
}
.works_intro .works_intro_mouse {
  position: absolute;
  top: 125px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
}
.works_intro .mouse {
  width: 1px;
  padding: 2px 10px;
  height: 30px;
  border: 2px solid #cecece;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.works_intro .scroll {
  width: 2px;
  height: 5px;
  border-radius: 25%;
  background-color: #cecece;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

.works {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.works .project_link {
  width: 48%;
  height: 400px;
  margin: 1%;
  text-decoration: none;
  background-color: #f7f7f7;
  text-align: center;
}
.works .project_link .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #e6dada;
  background: -webkit-linear-gradient(to left, #c3bfbd, #dfe0e5);
  background: linear-gradient(to left, #c3bfbd, #dfe0e5);
  cursor: pointer;
  opacity: 0;
  transition: all 0.25s ease;
}
.works .project_link .overlay .overlay_title {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  color: #262525;
  text-transform: uppercase;
}
.works .project_link:hover .overlay {
  opacity: 0.9;
  transition: all 0.25s ease;
}

.footer {
  padding: 50px 0;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer .footer_copyright {
  margin: 20px 0;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: #aaaaaa;
}
.footer .footer_social .social_link {
  padding: 0 10px;
  text-decoration: none;
  color: #aaaaaa;
  transition: color 0.25s ease;
}
.footer .footer_social .social_link:hover {
  transition: color 0.25s ease;
  color: #262525;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
